.tab {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}
.button {
  width: 20%;
}
.MuiDataGrid-root .cell-envoye {
  background-color: #fdfdfd !important; /* Vert clair pour "Envoyé" */
}
.MuiDataGrid-root .cell-non-envoye {
  background-color: #ff000d53 !important; /* Rouge clair pour "Non envoyé" */
}
.tab > data {
  background-color: #003b67;
}
